* {
  box-sizing: border-box;
}
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6bfbf;
  color: rgb(66, 183, 212);
 }  

 .brand-title {
  font-size: 3.6rem;
  margin: .5rem;
  color: rgb(66, 183, 212);
 }
 .navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;

 }
 .navbar-links li {
  list-style: none;
  font-size: 1.5rem;
 }

 .navbar-links li a {
  text-decoration: none;
  color: rgb(67, 130, 185);
  padding: 1rem;
  display: block;
 }

 .navbar-links li a:hover {
  background-color: rgb(240, 243, 243);
 }


 .user-profile {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.user-profile a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
}
footer {
  background-color: #333;
  height: 5rem;
}
  