* {
  box-sizing: border-box;
}

.navbar {
  background-color: aliceblue;
}

.navbar .brand-title {}

.navbar .brand-title a {}

.navbar .brand-title a img {
  width: 200px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;

}

.navbar-links li {
  list-style: none;
  font-size: 1.5rem;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.user-profile {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.user-profile a {
  text-decoration: none;
  margin-left: 20px;
}

footer {
  background-color: #333;
  height: 5rem;
}