<link rel="stylesheet" href="../static/styles/styles.css" />
{% extends 'base.html' %}{% block content %}


<section class="hero">
  <h1>Welcome to Bucr!</h1>
  <p>Discover and book amazing restaurants near you.</p>
  <form action="{% url 'search' %}" method="GET">
    <input type="text" name="query" placeholder="Search for restaurants" />
    <button type="submit">Search</button>
  </form>
</section>

<section class="trending-restaurants">
  <h2>Trending Restaurants</h2>
  {% for rest in featured_restaurants %}
  <div class="restaurant-card">
    <img src="{{ rest.image.url }}" alt="{{ rest.name }} 1" />

    <h3><a href="{% url 'restaurant_detail' rest.id %}">{{ rest.name }}</a></h3>
    <p>{{ rest.cuisine_type }}</p>

    <div class="rating">
      <span>&#9733;</span>
      <span>&#9733;</span>
      <span>&#9733;</span>
      <span>&#9733;</span>
      <span>&#9734;</span>
    </div>
  </div>
  {% endfor %}
  <!-- Repeat the above restaurant card structure for other trending restaurants -->
</section>

{% endblock %}
