<!-- reservation_success.html -->
<link rel="stylesheet" href="../static/styles/reservation_success.css" />
{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h2>Reservation Successful</h2>
          <p>Your reservation has been successfully created.</p>
          <p>Thank you for choosing our restaurant!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
